.swcontainerleft {
  padding: 40px 15px;
  text-align: left;
}

.swcontainer {
  padding: 40px 15px;
  text-align: center;
}

.label-message {
	display:block;
  /*padding-left: 20px ;
  padding-right: 20px ;*/
  white-space: normal;
  font-size: 14 ! important;
}

.myinfobox {
	padding-left: 15px ;
	padding-right: 15px ;
}

.centered{
    float: none;
    margin: 0 auto;
}

.inforow {
	padding-top: 20px;
}

.inforow-less-top {
  padding-top: 2px;
}

.inforow-less {
  padding: 7px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    width:120px;
}


.col-centered-no-fix {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-padd {
    padding-left: 3px;
    padding-right: 3px;
}

.row-centered {
    text-align:center;
}

.peaksonphoto{
    position:absolute;
    width: 24px;
    height: 24px;
    z-index: 1000;
}

.snowOnPhoto{
    position:absolute;
    opacity: 0.7;
}

#rating_wrapper { 
  display: inline-block; 
  overflow: hidden; 
  position: relative; 
  float:left;
  margin-right: 10px;
  white-space: nowrap;
}

.glyphicon.glyphicon-star-empty {
  opacity: .5;
}
.full_stars {
  display: inline-block; 
  white-space: nowrap; 
  overflow: hidden;
}
.empty_stars {
  position: absolute; 
  left: 0px;
}

#map-canvas {
  margin-top: -20px;
}

.control-label{
  float:left;
}

.input-xlarge {
    width: 270px;
}

.controls {
    margin-left: 150px;
}

#login-error{
    margin-left: 5%;
    margin-right: 5%;
}

.login_input{
  color:black;
}

.photo-container{
  padding-top: 40px;
}